<div class=" h-screen flex justify-center md:justify-center lg:justify-between items-center p-3 gap-4 text-nowrap">
    <router-outlet></router-outlet>
    <div class="bg-[#1A826A] shadow-md rounded-lg   h-full  px-8 py-14 hidden sm:flex md:hidden lg:flex flex-col justify-center text-white gap-1">

        <div class=" w-full flex justify-center items-center p-2">
            <img src="../../../../../assets/images/Group 31.png" class="w-[90%] md:w-[60%]" alt="login intro photo">
        </div>

    </div>
</div>