<div class="flex justify-between h-auto">
    <div class="w-full flex px-9 justify-start">
        <a routerLink="/admin/profiles/user-list"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                customers
            </span>
        </a>
        <a routerLink="/admin/profiles/worker-list"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                workers
            </span>
        </a>
    </div>
    <app-download-as-excel [data]="data"></app-download-as-excel>
</div>

<app-ui-datatable [data]="data" [columns]="columns"></app-ui-datatable>
<app-ui-datatable [data]="data" [columns]="columns"></app-ui-datatable>
<!-- <app-ui-datatable [data]="worker_data" [columns]="worker_columns"></app-ui-datatable> -->

