<div class="main-content">
  <header class="topbar">
    <h1>Dashboard</h1>
  </header>
  <div class="content">
    <div class="cards">
      <div class="card">
        <h3>Tasks</h3>
        @if(isLoading){
        <div class="w-full flex justify-center absolte z-10 top-1/2 left-1/2">
          <app-loading-dots></app-loading-dots>
        </div>
        }
        <p>{{ completedTaskCount }} tasks completed</p>
      </div>
      <div class="card">
        <h3>Total Bookings</h3>
        @if(isLoading){
        <div class="w-full flex justify-center absolte z-10 top-1/2 left-1/2">
          <app-loading-dots></app-loading-dots>
        </div>
        }
        <p>{{ bookings.length }} bookings</p>
      </div>
    </div>

    <div class="chart-container">
      <h3>Booking Status Distribution</h3>
      @if(isLoading){
      <div class="w-full flex justify-center absolte z-10 top-1/2 left-1/2">
        <app-loading-dots></app-loading-dots>
      </div>
      }

      <ngx-charts-pie-chart
        [results]="bookingPieChartData"
        [legend]="true"
        [labels]="true"
        [doughnut]="true"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
