<div class="w-full h-16 flex items-center justify-start bg-blue-950 rounded-t-md px-4">
    <div class="flex items-center space-x-3">
        <div class="w-10 h-10 rounded-full overflow-hidden">
            <img [src]="otherUser.profilePicture ?? 'assets/images/4923944.png'" [alt]="otherUser.firstName" class="w-full h-full object-cover">
        </div>
        <div class="text-white flex flex-col items-start">
            <h2 class="font-semibold text-lg">{{otherUser.firstName}} {{otherUser.lastName}}</h2>
            <p class="text-sm text-gray-300">{{isOtherUserActive ? "Active":"Blocked"}}</p>
        </div>
    </div>
    <div class="ml-auto flex items-center space-x-4">

        <button class="text-white hover:text-gray-300" mat-button [matMenuTriggerFor]="menu">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="#ffff" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </button>
        <mat-menu #menu="matMenu">
            @if(isOtherUserActive){

            <button mat-menu-item (click)="blockUser()">Block</button>
            }
            @else{

            <button mat-menu-item (click)="unblockUser()">Unblock</button>
            }
            <button mat-menu-item>Profile</button>
        </mat-menu>
    </div>
</div>