<section id="Security">
    <div class="w-full py-32 flex-col">
        <div class="flex justify-center">
            <div class="w-1/2 flex justify-center items-center">
                <app-password-reset-form [email]="email!"></app-password-reset-form>
            </div>
            <div *ngIf="profileStore.user()?.role != adminRole" class="w-1/3 flex flex-col justify-start items-start">
                <button type="button" (click)="delete()"
                    class="w-full bg-[#ff3a3a] text-white font-semibold py-3 rounded-lg hover:bg-[#ff6c6c] focus:outline-none focus:bg-[#ff6c6c] transition duration-300">
                    Delete Account
                </button>
                <p class="text-[#ff3a3a] font-thin"> this action can't undo </p>

            </div>
        </div>
    </div>
</section>